# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/base/base.iml
/base/target/*
*/target/*
/lab-user/src/test/
/lab-eureka/lab-eureka.iml
/lab-netty/lab-netty.iml
/lab-user/lab-user.iml
/lab-common/lab-common.iml
/xxl-job/xxl-job.iml
/xxl-job/xxl-job-admin/xxl-job-admin.iml
/xxl-job/xxl-job-core/xxl-job-core.iml
/xxl-job/xxl-job-executor-samples/xxl-job-executor-samples.iml
